body {
  background-color: #f0f8ff; /* Light blue background */
  font-family: 'Arial', sans-serif; /* Use a clean font */
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.behaviour-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.left-right-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.gifts-section {
  width: 48%;
  padding: 20px;
  background-color: #fff; /* White background for sections */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border: 2px solid #28a745; /* Green border for good gifts */
}

.left {
  margin-right: 2%;
}

.gifts-title {
  font-size: 32px; /* Increased font size */
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center; /* Center the titles */
  text-transform: uppercase; /* Optional: makes the text all uppercase */
  color: transparent; /* Remove the gradient and set color transparent */
}

.good-title {
  color: #f19506; /* Orange color for obedient kids */
}

.bad-title {
  color: #FF0000; /* Red color for naughty kids */
}

.filter-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.filter-input:focus {
  border-color: #28a745; /* Green border on focus */
  outline: none; /* Remove default outline */
}

.gifts-table {
  width: 100%;
  border-collapse: collapse;
}

.gifts-table th,
.gifts-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.gifts-table th {
  background-color: #f4f4f4; /* Light gray for header */
  color: #333; /* Darker text for contrast */
}

.gifts-table tr:hover {
  background-color: #e9ffe9; /* Light green on hover */
}

.no-results {
  color: #777;
  font-style: italic;
  text-align: center; /* Center no results message */
}

@media (max-width: 768px) {
  .left-right-container {
    flex-direction: column;
  }

  .gifts-section {
    width: 100%;
    margin-bottom: 20px;
  }

  .left {
    margin-right: 0;
  }
=======
.marker {
  /* The background color is overridden by inline styles in the JSX */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  cursor: pointer; /* Change cursor to pointer on hover */
>>>>>>> 4c3e0efe3963f3ab4b9046d6c4c3c16e80ff8f3e
}
